
<div class="text-center">
    <div class="col align-self-center">
        <h1>
            <i class="fa-regular fa-circle-xmark fa-fade fa-2xl" style="color: #b51212;"></i>
        </h1>
    </div>
</div>