@inject SignInManager<AppUser> SignInManager
@inject RoleManager<AppRole> RoleManager



<ul class="navbar-nav">
    @if (User.Identity!.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link fw-bold" asp-action="Logout" asp-controller="Auth">تسجيل الخروج</a>
        </li>
        <div>&nbsp</div>

        <li class="nav-item row">
            <a class="nav-link fw-bold" asp-action="Index" asp-controller="Account">
                @User.Identity.Name
                <svg class="border border-black rounded-5 " width="30px" height="30px" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">>
                    <path
                        d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
                </svg>
            </a>
        </li>


    }
    else
    {
        <li class="nav-item">
            <a class="nav-link fw-bold" asp-area="" asp-controller="Auth" asp-action="Login">تسجيل الدخول</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-bold" asp-area="" asp-controller="Auth" asp-action="Register">انشاء حساب</a>
        </li>
    }
</ul>
