@model Category

@{
    ViewData["Title"] = "Edit";
}
<h3 class="text-center">تعديل الفئة</h4>
<hr />
<div class="row">
    <div class="">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentCategoryId" class="control-label"></label>
                <input asp-for="ParentCategoryId" class="form-control" />
                
            </div>
            <div class="form-group text-center my-2">
                <input type="submit" value="حفظ" class="btn btn-primary " /> | 
                <a class="btn btn-outline-secondary" asp-action="Index"><i class="fa-solid fa-share fa-fade"></i> الرجوع الى القائمة</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
