@model ProjectViewModel
@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">عرض المشروع</h1>
<hr />
<div class="row">
    <div class="">
        <form asp-controller="UserProjects" asp-action="ProcessImage" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id">
            <input type="hidden" asp-for="ImageUrl">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="ProjectName" class="control-label"></label>
                        <input asp-for="ProjectName" class="form-control my-1" disabled />
                        <span asp-validation-for="ProjectName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control my-1" disabled />
                        <input type="hidden" asp-for="Title">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ArrayRow" class="control-label"></label>
                        <input asp-for="ArrayRow" class="form-control my-1" disabled />
                        <input type="hidden" asp-for="ArrayRow">
                        <span asp-validation-for="ArrayRow" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ArrayColmun" class="control-label"></label>
                        <input asp-for="ArrayColmun" class="form-control my-1" disabled />
                        <input type="hidden" asp-for="ArrayColmun">
                        <span asp-validation-for="ArrayColmun" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Descreption" class="control-label"></label>
                        <input asp-for="Descreption" class="form-control my-1" disabled />
                        <span asp-validation-for="Descreption" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="text-center">
                            <img src="~/uploads/templates/@Model.ImageUrl" alt="image" class="img-thumbnail"
                                style="width:600px;" />
                        </div>
                    </div>
                </div>
                <h2 class="text-center">ادخال متغيرات القالب</h2>
                <hr>
                <div>
                    <table class="table table-hover table-dark table-striped-columns text-md-center">
                        <thead>
                            <tr>
                                @for (int i = 0; i < Model.ArrayColmun; i++)
                                {
                                    <th>
                                        <input class="form-control" asp-for="@Model.ObjectJson![i]" disabled>
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = Model.ArrayColmun; i < Model.ObjectJson!.Length;)
                            {
                                <tr>
                                    @for (int j = 0; j < Model.ArrayColmun; j++)
                                    {
                                        <td>
                                            <input class="form-control" asp-for="@Model.ObjectJson[i]" disabled>
                                        </td>
                                        i++;
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="form-group text-center">
                    
                    <a class="btn btn-info" asp-action="Index">الرجوع الى القائمة</a>
                    <a class="btn btn-outline-secondary" asp-controller="UserProjects" asp-action="ProcessImage" asp-route-id="@Model.Id">انشاء الملف <i class="fa-regular fa-image"></i></a>
                </div>
        </form>
    </div>
</div>
